<div class="row">
  <div class="col-xs-12 col-md-8 col-offset-2">
    <div class="form-group">
      <label>Account Name</label>
      <input 
      type="text"
      class="form-control"
      placeholder="Enter your account name"
      #accountName>
    </div>
    <div class="form-group">
      <select class="form-control" #status>
        <option value="active">Active</option>
        <option value="inactive">inactive</option>
        <option value="hidden">unknown</option>
      </select>
    </div>
    <button 
    class="btn btn-primary"
    (click)="onCreateAccount(accountName.value, status.value)">Add Account</button>
  </div>
</div>